body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to bottom right, #030405, #030303);
    background-size: cover;
    background-attachment: fixed;
    }
    

    header {
    background-color: transparent;
    color: #fff;
    padding: 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    }
    
    nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }

    
    nav li {
      display: inline-block;
    }
    
    nav a {
      display: block;
      color: #fff;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      border: none;
      border-radius: 50px;
      font-size: 1em;
      cursor: pointer;
      margin-left: 10px;
      background: linear-gradient(to right, #080608, #00c3ff);
      transition: all 0.3s ease-in-out;
    }
    
    
    nav a:first-child {
      margin-left: 0;
    }
    
    nav a:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 16px rgba(0, 195, 255, 0.2);
    }
    
    .active {
      background-color: #00c3ff;
      color: #fff;
    }
    
  


    
  section {
    background-image: url("fondo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }
    
    

    p {
      font-size: 1.2em;
      color: #ffffff;
      margin-top: 10rem;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    
    
      
    
    
     .boton-principal {
      display: block;
      margin: 5rem auto 5px auto;
      padding: 20px 30px;
      font-size: 20px;
      color: #fff;
      text-align: center;
      text-decoration: none;
      background-color: transparent;
      border: 5px solid #02b7ff;
      border-radius: 50px;
      box-shadow: 0 0 0 0 #02b7ff;
      transition: all 0.3s ease;
      cursor: pointer;
      }
      
      .boton-principal:hover {
        background-color: #02b7ff;
        color: #fff;
        box-shadow: 0px 0px 20px #02b7ff;
      }
      
      .boton-principal:focus {
        outline: none;
        background-color: #ba14c9;
        border: 3px solid #ba14c9;
        box-shadow: 0px 0px 20px #ba14c9;
      }      
    
      
    
    .boton {
      display: block;
      color: #fff;
      text-align: center;
      padding: 17px 20px;
      text-decoration: none;
      border: none;
      border-radius: 50px;
      font-size: 1em;
      cursor: pointer;
      margin-left: 50px;
      background: linear-gradient(to right, #080608, #00c3ff);
      transition: all 0.3s ease-in-out;
    }
    
    .boton:hover {
    background-color: #4CAF50;
    }
    
    footer {
    background-color: #000000;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    }
    
    .formulario {
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 20px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    
    .formulario h2 {
    font-size: 2em;
    color: #0c0909;
    margin-bottom: 20px;
    }
    
    .formulario input[type="text"],
    .formulario input[type="email"],
    .formulario input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    }
    
    .formulario input[type="submit"] {
        background-color: #4CAF50;
        border: none;
        color: #fff;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1.2em;
        border-radius: 5px;
        cursor: pointer;
        }
        .anuncio {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
            padding: 2rem;
            max-width: 500px;
            z-index: 9999;
            animation-name: popUp;
            animation-duration: 1s;
            }
            
            .closeBtn {
            position: absolute;
            top: 1rem;
            right: 1rem;
            background-color: transparent;
            border: none;
            font-size: 1.5rem;
            cursor: pointer;
            }
            
            h2 {
            text-align: center;
            font-size: 2rem;
            margin-bottom: 1rem;
            }
            
            p#predictionResult {
              font-size: 6rem;
              text-align: center;
              margin-top: 10rem;
              color: #00FFFF;
              text-shadow: 0px 0px 20px #00FFFF;
              font-family: "Helvetica Neue", sans-serif;
            }
            
            
            .buyBtn {
            display: block;
            margin: 0 auto;
            background-color: #4d4dff;
            color: #fff;
            border: none;
            border-radius: 50px;
            font-size: 1.5rem;
            padding: 1rem 2.5rem;
            cursor: pointer;
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
            transition: all 0.3s ease-in-out;
            }
            
            .buyBtn:hover {
            background-color: #3d3dff;
            transform: translateY(-2px);
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
            }
            
            .buyBtn:focus {
            outline: none;
            }
            
            .buyBtn:active {
            transform: translateY(0);
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
            }
            
            .form-input {
            background: transparent;
            color: #fff;
            border: none;
            border-bottom: 2px solid #4d4dff;
            padding: 1rem;
            font-size: 1.5rem;
            margin-bottom: 1rem;
            width: 100%;
            transition: all 0.3s ease-in-out;
            }
            
            .form-input:focus {
            outline: none;
            border-bottom: 2px solid #3d3dff;
            }
            
            .form-input::placeholder {
            color: #d6d6d6;
            }
            
            .discount {
            font-size: 1.2rem;
            text-align: center;
            color: #4d4dff;
            margin-top: 1rem;
            }
            
            .discount strong {
            font-weight: bold;
            }
            #loginPopup {
              position: fixed;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              background-color: #1a1a1a;
              border-radius: 10px;
              padding: 40px;
              z-index: 9999;
              display: none;
              box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
            }
            
            #loginPopup label {
              color: #fff;
              font-size: 20px;
              margin-bottom: 10px;
              display: block;
            }
            
            #loginPopup input[type="text"], #loginPopup input[type="password"] {
              width: 100%;
              padding: 10px;
              border-radius: 5px;
              border: none;
              background-color: #000000;
              color: #fff;
              margin-bottom: 20px;
            }
            
            #loginPopup input[type="submit"], #loginPopup button {
              background-color: #fff;
              color: #070303;
              border: none;
              padding: 10px 20px;
              border-radius: 5px;
              cursor: pointer;
              transition: background-color 0.3s ease;
            }
            
            #loginPopup input[type="submit"]:hover, #loginPopup button:hover {
              background-color: #080505;
              color: #fff;
            }
            .iconos {
              display: flex;
              justify-content: center;
              align-items: center;
              margin-top: 10px;
            }
            
            .iconos a {
              margin: 1rem 0;
            }
            
            .iconos img {
              max-width: 50px;
              margin: 0 5px;
            }
            
            h1 {
              text-align: center;
              color: #15ff00; /* color cian */
              font-size: 1rem;
              font-family: 'Roboto', sans-serif; /* Fuente futurista */
              text-shadow: 2px 2px 4px #000000; /* sombra para un efecto futurista */
              margin-top: 1rem; /* para subir el texto */
              letter-spacing: 0.1em; /* para dar más espacio entre letras */
            }
          